node_modules
# Keep environment variables out of version control
# .gitignore
node_modules/
.env
.env.local
/generated/prisma

.vercel
.env*
src/assets/cleaning1.jpg
src/assets/cleaning2.jpg
src/assets/cleaning3.jpg